BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 80
PointerAlignment: Left
SortIncludes: CaseInsensitive
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
Standard: c++17
